@import '../../style/colors.scss';

header {
  align-items: center;
  background: $darkBlue;
  background: $gradientDarkLightBlue;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 3.5rem 2rem 1rem;
}

.site-title {
  color: $white;
}

.nav-link {
  color: $white;
  text-decoration: none;

  &:not(:first-of-type) {
    margin-left: 1.5rem;
  }
}
