@import '../../style/colors.scss';

.balances {
  border: $borderLightGrey;
  border-radius: 3px;
  box-shadow: $boxShadowGrey;
  padding: 1rem;

  &-title {
    background: $darkBlue;
    background: $gradientDarkLightBlue;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: $white;
    margin: -1rem -1rem 0 -1rem;
    padding: 1rem 1rem 0.5rem 1rem;
  }
}
